/* Общие стили */
body {
    margin: 0;
    text-align: center;
    font-family: Montserrat, Verdana, sans-serif;
}
.main {
    width: 1160px;
    margin: 0 auto;
}
.section-head {
    margin: 0;
    padding: 80px 0 15px;
    font-size: 35px;
}
.section-hr {
    display: inline-block;
    width: 80px;
    border: 0.5px solid #18cfab;
    box-shadow: 15px 5px 0 0 #18cfab;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
.work-button,.grid-button {
    margin: 20px 0 70px;
    background-color: #18cfab;
    font-size: 14px;
}
.big-plus {
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

/* Стили для анимации загрузки */
.loader-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 120px;
    margin: 0 auto;
}
.loader-box {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(130deg, #CE9FFC 0%, #7367F0 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: pulse 1s linear infinite alternate;
}
.loader-box:nth-child(1) {
    animation-delay: 0s;
}
.loader-box:nth-child(2) {
    animation-delay: 0.1s;
}
.loader-box:nth-child(3) {
    animation-delay: 0.2s;
}
.loader-box:nth-child(4) {
    animation-delay: 0.3s;
}
.loader-box:nth-child(5) {
    animation-delay: 0.4s;
}
.loader-box:nth-child(6) {
    animation-delay: 0.5s;
}
.loader-box:nth-child(7) {
    animation-delay: 0.6s;
}
.loader-box:nth-child(8) {
    animation-delay: 0.7s;
}
.loader-box:nth-child(9) {
    animation-delay: 0.8s;
}
@keyframes pulse {
    from,
    40% {
        opacity: 0;
    }
    50%
    {
        opacity: 0.5;
    }
    80%,
    to {
        opacity: 1;
    }
}

/* Заголовок страницы */
.header {
    height: 900px;
    background: url("../img/section-1.jpg") fixed no-repeat;
    background-size: cover;
}
.header-bg {
    background: rgba(80, 80, 80, 0.7);
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-logo {
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-left: 60px;
}
.header-logo-hexagon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: #18cfab;
}
.header-logo-hexagon::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    border-bottom: 15px solid #18cfab;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}
.header-logo-hexagon::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    border-top: 15px solid #18cfab;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}
.header-logo-h {
    position: absolute;
    top: -9px;
    left: 10px;
    font-size: 38px;
    font-weight: bold;
}
.header-logo-ham {
    color: #18cfab;
    font-weight: bold;
}
.header-menu {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 700px;
}
.header-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: lightgrey;
}
.header-item:last-child {
    font-size: 25px;
}
.header-item:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}
.header-h2 {
    margin-top: 200px;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
}
.header-h2-span {
    color: #18cfab;
}
.header-h1 {
    margin: 0;
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}
.header-h3 {
    margin-bottom: 130px;
    font-size: 35px;
    color: white;
    font-weight: lighter;
}
.header-explore {
    margin: 10px;
    background-color: #18cfab;
    box-shadow: 0 -5px 0 0 white;
    font-size: 13px;
}
.header-purchase {
    margin: 10px;
    background-color: #00cbf6;
    box-shadow: 0 -5px 0 0 white;
    font-size: 13px;
}

/* Секция с опциями */
.options {
    display: flex;
    height: 300px;
    font-size: 50px;
}
.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.option:nth-child(odd) {
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 5px solid #18cfab;
}
.option:nth-child(even) {
    background-color: #18cfab;
    color: white;
    border-top: 5px solid white;
}
.option-p {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Секция Сервисы */
.service-tabs {
    display: flex;
    margin-top: 70px;
}
.service-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 193px;
    height: 70px;
    font-size: 18px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    color: grey;
    background-color: #f8fcfe;
}
.service-tab:first-child {
    border-left: 1px solid lightgrey;
}
.active-service {
    color: white;
    background-color: #18cfab;
}
.active-service::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 84px;
    border-top: 13px solid #18cfab;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
.service-content {
    margin-top: 24px;
    display: flex;
}
.service-img {
    border: 1px solid lightgrey;
}
.service-paragraph {
    margin: 0 0 0 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    color: grey;
}
.service-purchase {
    margin-top: 100px;
    background: url("../img/section-2.jpg") fixed no-repeat;
    background-size: cover;
}
.service-purchase-bg {
    padding-top: 120px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.7);
}
.service-purchase-big {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18cfab;
}
.service-purchase-small {
    margin-top: 35px;
    font-size: 16px;
    font-weight: lighter;
    color: white;
}
.service-button {
    margin: 75px 0 0;
    background-color: #18cfab;
    box-shadow: 0 -5px 0 0 white;
    font-size: 13px;
}

/* Секция Работы */
.work {
    background-color: #f8fcfe;
    border-bottom: 1px solid lightgrey;
}
.work-tabs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
    font-size: 15px;
}
.work-tab {
    padding: 20px;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.work-tab:first-child {
    border-left: 1px solid lightgrey;
}
.active-work {
    border-top: 3px solid #18cfab;
    color: #18cfab;
}
.work-content {
    margin: 70px 0;
    font-size: 0;
}
.work-img {
    display: inline-block;
    position: relative;
}
.work-hover {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 284px;
    height: 203px;
    background-color: #f8fcfe;
    border-top: 3px solid #18cfab;
}
.work-hover-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    color: #18cfab;
    font-size: 16px;
    text-decoration: none;
}
.work-hover-button:hover {
    color: white;
    background-color: #18cfab;
}
.work-hover-p1 {
    margin: 30px 0 0;
    font-size: 15px;
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
}
.work-hover-p2 {
    font-size: 13px;
    color: gray;
}

/* Секция Новости */
.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: ;
    flex-wrap: wrap;
    margin-top: 45px;
    height: 680px;
}
.news-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 25px 0;
    background-color: #f8fcfe;
    border: 1px solid lightgrey;
    text-decoration: none;
    color: grey;
}
.news-link::after {
    content: "12 Feb";
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 46px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #1c2a33;
}
.news-post {
    margin: 14px 0 0 13px;
    font-size: 20px;
    font-weight: bold;
}
.news-author {
    margin: 12px 0 12px 17px;
    font-size: 14px;
}
.news-link:hover .news-post {
    color: #18cfab;
}
.news-link:hover::after {
    background-color: #18cfab;
}

/* Секция Люди */
.people {
    margin-top: 90px;
    background: url("../img/section-3.jpg") fixed no-repeat;
    background-size: cover;
}
.people-bg {
    height: 850px;
    background-color: rgba(0, 0, 0, 0.5);
}
.people .section-head {
    color: white;
}
.people-quote {
    font-size: 45px;
    color: #18cfab;
}
.people-p1 {
    font-size: 16px;
    color: lightgrey;
}
.people-p2 {
    margin: 42px 0 0;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18cfab;
}
.people-p3 {
    font-size: 13px;
    color: lightgrey;
}
.people-tabs {
    position: relative;
    margin: 240px auto 0;
    width: 440px;
    height: 72px;
}
.people-left {
    position: absolute;
    top: 26px;
    left: -32px;
    width: 30px;
    height: 25px;
    border: 1px solid lightgrey;
    padding-top: 5px;
    font-size: 16px;
    color: lightgrey;
}
.people-right {
    position: absolute;
    top: 26px;
    right: -32px;
    width: 30px;
    height: 25px;
    border: 1px solid lightgrey;
    padding-top: 5px;
    font-size: 16px;
    color: lightgrey;
}
.people-left:hover,.people-right:hover {
    border-color: #18cfab;
    background-color: #18cfab;
    color: white;
}
.people-tab-bg {
    display: none;
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(24, 207, 171, 0.3);
}
.people-tab {
    position: absolute;
    top: 12px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(24, 207, 171, 0.3);
}
.people-active {
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(24, 207, 171, 0.3);
}
.people-tab-bg:nth-child(2),.people-tab:nth-child(3) {
    left: 40px;
}
.people-tab-bg:nth-child(4),.people-tab:nth-child(5) {
    left: 140px;
}
.people-tab-bg:nth-child(6),.people-tab:nth-child(7) {
    left: 240px;
}
.people-tab-bg:nth-child(8),.people-tab:nth-child(9) {
    left: 340px;
}

/* Секция Галерея */
.grid {
    margin-top: 70px;
}
.grid-item {
    width: 372px;
    height: 260px;
    float: left;
    margin-bottom: 20px;
}
.grid-item--height2 {
    height: 370px;
}
.grid0 {
    height: 480px;
}
.grid0-item {
    width: 120px;
    height: 95px;
    float: left;
    margin-bottom: 6px;
}
.grid0-item--width2 {
    width: 183px;
    height: 170px;
}
.grid-hover {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.grid-hover-button {
    margin: 5px;
    width: 40px;
    height: 30px;
    border: 1px solid #00cbf6;
    border-radius: 3px;
    background-color: #00cbf6;
    padding-top: 10px;
    font-size: 18px;
    color: white;
}
.grid-hover-button:hover {
    background-color: transparent;
}

/* Подвал страницы */
.footer {
    background-color: #1c2a33;
}
.footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.copyright {
    font-size: 14px;
    font-weight: lighter;
    color: white;
}
.footer-ham {
    color: #18cfab;
}